[Unit]
Description=dnsproxy
Documentation=https://github.com/AdguardTeam/dnsproxy#readme
Before=network.target nss-lookup.target shutdown.target
Conflicts=shutdown.target
Wants=nss-lookup.target

[Service]
AmbientCapabilities=CAP_SETPCAP CAP_NET_RAW CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_SETPCAP CAP_NET_RAW CAP_NET_BIND_SERVICE
ExecStart=!!/opt/adguard/dnsproxy-helper.pl start
ExecStop=!!/opt/adguard/dnsproxy-helper.pl stop
ProtectProc=invisible
ProtectHome=yes
Restart=always
RestartSec=0
WorkingDirectory=/run/dnsproxy
RuntimeDirectory=dnsproxy
MemoryAccounting=yes
MemoryMax=500M

[Install]
WantedBy=multi-user.target
